body {
  color: rgb(255, 255, 255);
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
img {
display: flex;
width: 300px;
height: 300px;
padding: 40px;
margin: 0 auto;
}

 body{
/*Location of the image*/
  background-image: url(https://www.publicdomainpictures.net/pictures/10000/velka/starry-night-871287410454UmtH.jpg);
}
h3 {
  padding-bottom:1em;
}
div.contrast {
  background-color: DimGrey;
  color: black;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}
